<a href="https://colab.research.google.com/github/rayou2/healthcare-visuals/blob/main/visualization_covid_georgia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Loading in Packages

In [50]:
# the below packages are related to loading and performing basci 
# transformations of the data

import pandas as pd
import numpy as np

print('cell successfully ran')

cell successfully ran

In [51]:
# now we are going to load in some visualization packages to help with create
# visuals of the data 

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

sns.set_theme(style="whitegrid")

print('cell successfully ran')

cell successfully ran

# Loading in Data

In [52]:
df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_Microcourse_Visualization/main/Data/Georgia_COVID/Georgia_COVID-19_Case_Data.csv')

In [53]:
df

,OBJECTID,COUNTY,CNTY_FIPS,DATESTAMP,C_New,C_Cum,D_New,D_Cum,H_New,H_Cum,...,C_His,C_NonHis,C_EthUnk,GlobalID,C_NEW_PERCT_CHG,D_NEW_PERCT_CHG,C_NEW_7D_MEAN,D_NEW_7D_MEAN,C_NEW_7D_PERCT_CHG,D_NEW_7D_PERCT_CHG
0,1,BALDWIN,1003,2021/04/13 03:59:59+00,4,3795,0,115,0,318,...,106,2897,792,{6D1CBB20-5FCF-4FA3-9112-504CF3A93EE8},NaN,NaN,1.857143,0.0,NaN,NaN
1,2,UNKNOWN,1,2021/02/04 05:00:00+00,4,2158,0,4,0,36,...,80,155,1923,{925F3292-9C8D-420F-9FE5-97E82BC7F8E8},-0.428571,NaN,2.714286,0.0,NaN,NaN
2,3,BALDWIN,1003,2021/04/14 03:59:59+00,2,3797,0,115,0,318,...,106,2898,793,{1F195651-C20F-4B60-98B0-D0481D40F263},NaN,NaN,1.857143,0.0,NaN,NaN
3,4,UNKNOWN,1,2021/02/05 05:00:00+00,1,2159,0,4,0,36,...,80,156,1923,{C614DA89-4EAB-4807-9FDE-7661AEFCC144},NaN,NaN,2.857143,0.0,NaN,NaN
4,5,BALDWIN,1003,2021/04/15 03:59:59+00,0,3797,0,115,0,318,...,106,2898,793,{EBFFE6DD-9C7F-44F1-B19A-AC69E6EB4093},NaN,NaN,1.857143,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91687,91688,WAYNE,49055,2021/07/15 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D678A5A4-8531-4A06-B71A-A757A4933957},NaN,NaN,0.142857,0.0,NaN,NaN
91688,91689,WAYNE,49055,2021/07/16 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{6F4E3A27-D6A2-422F-B7CA-16595DA36061},NaN,NaN,0.000000,0.0,NaN,NaN
91689,91690,WAYNE,49055,2021/07/17 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{CE952CC5-B75F-45E7-BC12-954B1EE71F31},NaN,NaN,0.000000,0.0,NaN,NaN
91690,91691,WAYNE,49055,2021/07/18 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D07AF78B-C535-4F99-8E04-AED183809453},NaN,NaN,0.000000,0.0,NaN,NaN
91691,91692,WAYNE,49055,2021/07/19 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{42B36DB7-6C0D-4A0D-AE78-E269A191E20E},NaN,NaN,0.000000,0.0,NaN,NaN

In [54]:
len(df)

91692

In [55]:
df.shape

(91692, 45)

### Describing the variables

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91692 entries, 0 to 91691
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            91692 non-null  int64
 1   COUNTY              91692 non-null  object
 2   CNTY_FIPS           91692 non-null  int64
 3   DATESTAMP           91692 non-null  object
 4   C_New               91692 non-null  int64
 5   C_Cum               91692 non-null  int64
 6   D_New               91692 non-null  int64
 7   D_Cum               91692 non-null  int64
 8   H_New               91692 non-null  int64
 9   H_Cum               91692 non-null  int64
 10  C_Rate              91692 non-null  int64
 11  C_Female            91692 non-null  int64
 12  C_Male              91692 non-null  int64
 13  C_SexUnkn           91692 non-null  int64
 14  C_UCon_Yes          91692 non-null  int64
 15  C_UCon_No           91692 non-null  int64
 16  C_UCon_Unk          91692 non-null  int64
 17  C_Age_0_4           91692 non-null  int64
 18  C_Age_5_14          91692 non-null  int64
 19  C_Age_15_24         91692 non-null  int64
 20  C_Age_25_34         91692 non-null  int64
 21  C_Age_35_44         91692 non-null  int64
 22  C_Age_45_54         91692 non-null  int64
 23  C_Age_55_64         91692 non-null  int64
 24  C_Age_65_74         91692 non-null  int64
 25  C_Age_75_84         91692 non-null  int64
 26  C_Age_85plus        91692 non-null  int64
 27  C_Age_Unkn          91692 non-null  int64
 28  C_Age_0             91692 non-null  int64
 29  C_Age_20            91692 non-null  int64
 30  C_RaceWh            91692 non-null  int64
 31  C_RaceBl            91692 non-null  int64
 32  C_RaceAs            91692 non-null  int64
 33  C_RaceOth           91692 non-null  int64
 34  C_RaceUnk           91692 non-null  int64
 35  C_His               91692 non-null  int64
 36  C_NonHis            91692 non-null  int64
 37  C_EthUnk            91692 non-null  int64
 38  GlobalID            91692 non-null  object
 39  C_NEW_PERCT_CHG     31895 non-null  float64
 40  D_NEW_PERCT_CHG     1149 non-null   float64
 41  C_NEW_7D_MEAN       91692 non-null  float64
 42  D_NEW_7D_MEAN       91692 non-null  float64
 43  C_NEW_7D_PERCT_CHG  36111 non-null  float64
 44  D_NEW_7D_PERCT_CHG  1276 non-null   float64
dtypes: float64(6), int64(36), object(3)
memory usage: 31.5+ MB

In [57]:
list(df)

['OBJECTID',
 'COUNTY',
 'CNTY_FIPS',
 'DATESTAMP',
 'C_New',
 'C_Cum',
 'D_New',
 'D_Cum',
 'H_New',
 'H_Cum',
 'C_Rate',
 'C_Female',
 'C_Male',
 'C_SexUnkn',
 'C_UCon_Yes',
 'C_UCon_No',
 'C_UCon_Unk',
 'C_Age_0_4',
 'C_Age_5_14',
 'C_Age_15_24',
 'C_Age_25_34',
 'C_Age_35_44',
 'C_Age_45_54',
 'C_Age_55_64',
 'C_Age_65_74',
 'C_Age_75_84',
 'C_Age_85plus',
 'C_Age_Unkn',
 'C_Age_0',
 'C_Age_20',
 'C_RaceWh',
 'C_RaceBl',
 'C_RaceAs',
 'C_RaceOth',
 'C_RaceUnk',
 'C_His',
 'C_NonHis',
 'C_EthUnk',
 'GlobalID',
 'C_NEW_PERCT_CHG',
 'D_NEW_PERCT_CHG',
 'C_NEW_7D_MEAN',
 'D_NEW_7D_MEAN',
 'C_NEW_7D_PERCT_CHG',
 'D_NEW_7D_PERCT_CHG']

In [58]:
df['COUNTY'].value_counts()

BALDWIN       566
UNION         566
COOK          566
CARROLL       566
EFFINGHAM     566
             ...
FORSYTH       566
GILMER        566
GLYNN         566
GLASCOCK      566
WASHINGTON    566
Name: COUNTY, Length: 162, dtype: int64

In [59]:
df_counties = df['COUNTY'].value_counts()
df_counties.head(5)

BALDWIN      566
UNION        566
COOK         566
CARROLL      566
EFFINGHAM    566
Name: COUNTY, dtype: int64

# Transforming Columns

In [61]:
df['DATESTAMP']

0        2021/04/13 03:59:59+00
1        2021/02/04 05:00:00+00
2        2021/04/14 03:59:59+00
3        2021/02/05 05:00:00+00
4        2021/04/15 03:59:59+00
                  ...
91687    2021/07/15 03:59:59+00
91688    2021/07/16 03:59:59+00
91689    2021/07/17 03:59:59+00
91690    2021/07/18 03:59:59+00
91691    2021/07/19 03:59:59+00
Name: DATESTAMP, Length: 91692, dtype: object

In [62]:
# we are creating a copy of the existing column, so we keep the original version
# we could also override the column if we wanted to, but because we are unsure 
# where we are going to take the analysis - lets just keep it


df['DATESTAMP_MOD'] = df['DATESTAMP']
print(df['DATESTAMP_MOD'].head(10))
print(df['DATESTAMP_MOD'].dtypes)

0    2021/04/13 03:59:59+00
1    2021/02/04 05:00:00+00
2    2021/04/14 03:59:59+00
3    2021/02/05 05:00:00+00
4    2021/04/15 03:59:59+00
5    2021/02/06 05:00:00+00
6    2021/02/07 05:00:00+00
7    2021/04/16 03:59:59+00
8    2021/04/17 03:59:59+00
9    2021/02/08 05:00:00+00
Name: DATESTAMP_MOD, dtype: object
object

In [63]:
df['DATESTAMP_MOD'] = pd.to_datetime(df['DATESTAMP_MOD'])
df['DATESTAMP_MOD'].dtypes

datetime64[ns, UTC]

In [64]:
df[['DATESTAMP','DATESTAMP_MOD']]

                    DATESTAMP             DATESTAMP_MOD
0      2021/04/13 03:59:59+00 2021-04-13 03:59:59+00:00
1      2021/02/04 05:00:00+00 2021-02-04 05:00:00+00:00
2      2021/04/14 03:59:59+00 2021-04-14 03:59:59+00:00
3      2021/02/05 05:00:00+00 2021-02-05 05:00:00+00:00
4      2021/04/15 03:59:59+00 2021-04-15 03:59:59+00:00
...                       ...                       ...
91687  2021/07/15 03:59:59+00 2021-07-15 03:59:59+00:00
91688  2021/07/16 03:59:59+00 2021-07-16 03:59:59+00:00
91689  2021/07/17 03:59:59+00 2021-07-17 03:59:59+00:00
91690  2021/07/18 03:59:59+00 2021-07-18 03:59:59+00:00
91691  2021/07/19 03:59:59+00 2021-07-19 03:59:59+00:00

[91692 rows x 2 columns]

In [65]:
df['DATESTAMP_MOD_DAY'] = df['DATESTAMP_MOD'].dt.date
df['DATESTAMP_MOD_DAY']

0        2021-04-13
1        2021-02-04
2        2021-04-14
3        2021-02-05
4        2021-04-15
            ...
91687    2021-07-15
91688    2021-07-16
91689    2021-07-17
91690    2021-07-18
91691    2021-07-19
Name: DATESTAMP_MOD_DAY, Length: 91692, dtype: object

In [66]:
df['DATESTAMP_MOD_YEAR'] = df['DATESTAMP_MOD'].dt.year
df['DATESTAMP_MOD_MONTH'] = df['DATESTAMP_MOD'].dt.month

In [67]:
df['DATESTAMP_MOD_YEAR']

0        2021
1        2021
2        2021
3        2021
4        2021
         ...
91687    2021
91688    2021
91689    2021
91690    2021
91691    2021
Name: DATESTAMP_MOD_YEAR, Length: 91692, dtype: int64

In [68]:
df['DATESTAMP_MOD_MONTH']

0        4
1        2
2        4
3        2
4        4
        ..
91687    7
91688    7
91689    7
91690    7
91691    7
Name: DATESTAMP_MOD_MONTH, Length: 91692, dtype: int64

In [69]:
df['DATESTAMP_MOD_MONTH_YEAR'] = df['DATESTAMP_MOD'].dt.to_period('M')
df['DATESTAMP_MOD_MONTH_YEAR'].sort_values()

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:1146: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

15942    2020-01
26961    2020-01
26960    2020-01
26959    2020-01
26958    2020-01
          ...
32662    2021-07
32663    2021-07
32664    2021-07
32184    2021-07
91691    2021-07
Name: DATESTAMP_MOD_MONTH_YEAR, Length: 91692, dtype: period[M]

In [70]:
df['DATESTAMP_MOD_WEEk'] = df['DATESTAMP_MOD'].dt.week
df['DATESTAMP_MOD_WEEk']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

0        15
1         5
2        15
3         5
4        15
         ..
91687    28
91688    28
91689    28
91690    28
91691    29
Name: DATESTAMP_MOD_WEEk, Length: 91692, dtype: int64

In [71]:
df['DATESTAMP_MOD_QUARTER'] = df['DATESTAMP_MOD'].dt.to_period('Q')
df['DATESTAMP_MOD_QUARTER'].sort_values()

76343    2020Q1
46394    2020Q1
46393    2020Q1
46392    2020Q1
46391    2020Q1
          ...
32834    2021Q3
32835    2021Q3
32836    2021Q3
33566    2021Q3
91691    2021Q3
Name: DATESTAMP_MOD_QUARTER, Length: 91692, dtype: period[Q-DEC]

In [110]:
df['DATESTAMP_MOD_DAY_STRING'] = df['DATESTAMP_MOD_DAY'].astype(str)
df['DATESTAMP_MOD_WEEk_STRING'] = df['DATESTAMP_MOD_WEEk'].astype(str)
df['DATETIME_STRING'] = df['DATESTAMP_MOD_MONTH_YEAR'].astype(str)

In [ ]:
df

## Getting the counties required for our analysis

we know the counties we want to analyze our:


*   Cobb
*   Deklab
*   Fulton
*   Gwinnett
*   Hall

In [111]:
df['COUNTY']

0        BALDWIN
1        UNKNOWN
2        BALDWIN
3        UNKNOWN
4        BALDWIN
          ...
91687      WAYNE
91688      WAYNE
91689      WAYNE
91690      WAYNE
91691      WAYNE
Name: COUNTY, Length: 91692, dtype: object

In [112]:
countList = ['COBB','DEKALB','FULTON','GWINNETT','HALL']
countList

['COBB', 'DEKALB', 'FULTON', 'GWINNETT', 'HALL']

In [113]:
selectCounties = df[df['COUNTY'].isin(countList)]
len(selectCounties)

2830

In [ ]:
selectCountytime_aprilmay2020.head(20)

## Getting the specific date/time frame we want

In [115]:
selectCountytime = selectCounties

In [116]:
selectCountytime['DATESTAMP_MOD_MONTH_YEAR']

6056     2020-08
6414     2020-08
6417     2020-09
6422     2020-09
6823     2020-09
          ...
79995    2020-05
79996    2020-05
79997    2020-05
79998    2020-05
79999    2020-05
Name: DATESTAMP_MOD_MONTH_YEAR, Length: 2830, dtype: period[M]

In [117]:
selectCountytime_april2020 = selectCountytime[selectCountytime['DATESTAMP_MOD_MONTH_YEAR'] == '2020-04']
len(selectCountytime_april2020)

150

In [118]:
selectCountytime_aprilmay2020 = selectCountytime[(selectCountytime['DATESTAMP_MOD_MONTH_YEAR'] == '2020-05') | (selectCountytime['DATESTAMP_MOD_MONTH_YEAR'] == '2020-04')]
len(selectCountytime_aprilmay2020)

305

## Creating the final dateframe / specific columns-features-attributes that we care about

In [126]:
finalDF = selectCountytime_aprilmay2020[[
      'COUNTY',
      'DATESTAMP_MOD',
      'DATESTAMP_MOD_DAY',
      'DATESTAMP_MOD_DAY_STRING',
      'DATETIME_STRING',
      'DATESTAMP_MOD_MONTH_YEAR',
      'C_New', # cases - new 
      'C_Cum', # cases - total
      'H_New', # hospitalizations - new
      'H_Cum', # hospitalizations - total
      'D_New', # death - new
      'D_Cum'  # death - total

]]

In [ ]:
finalDF

# Looking at total Covid cases by month

In [ ]:
finalDF_dropdups = finalDF.drop_duplicates(subset=['COUNTY','DATETIME_STRING'], keep ='last')
finalDF_dropdups

In [ ]:
pd.pivot_table(finalDF_dropdups, values='C_Cum', index=['COUNTY'],
               columns=['DATESTAMP_MOD_MONTH_YEAR'], aggfunc=np.sum)

In [ ]:
vis1 = sns.barplot(x='DATESTAMP_MOD_MONTH_YEAR', y = 'C_Cum', data=finalDF_dropdups)

In [ ]:
vis2 = sns.barplot(x='DATESTAMP_MOD_MONTH_YEAR', y = 'C_Cum', hue ='COUNTY', data=finalDF_dropdups)

In [ ]:
plotly1 = px.bar(finalDF_dropdups, x= 'DATETIME_STRING', y ='C_Cum', color = 'COUNTY', barmode = 'group')
plotly1.show()

In [ ]:
plotly2 = px.bar(finalDF_dropdups, x= 'DATETIME_STRING', y ='C_Cum', color = 'COUNTY', barmode = 'overlay')
plotly2.show()

## Looking at the total covid cases by DAY

In [146]:
daily = finalDF
daily
len(daily)

305

In [150]:
pd.pivot_table(daily, values='C_Cum', index = ['COUNTY'],
               columns = ['DATESTAMP_MOD_DAY'], aggfunc=np.sum)

DATESTAMP_MOD_DAY,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,...,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31
COUNTY,,,,,,,,,,,,,,,,,,,,,
COBB,867,893,921,935,956,999,1026,1073,1116,1160,...,3091,3131,3147,3178,3222,3259,3291,3333,3365,3386
DEKALB,937,987,1038,1069,1099,1159,1213,1252,1317,1371,...,3858,3891,3924,3959,4025,4098,4153,4209,4240,4271
FULTON,1499,1549,1617,1655,1685,1747,1824,1893,1952,2007,...,4276,4310,4336,4365,4437,4510,4558,4614,4637,4657
GWINNETT,614,657,702,734,766,811,858,905,952,1002,...,3781,3864,3928,3985,4101,4216,4304,4410,4503,4544
HALL,257,300,336,359,392,453,502,566,628,686,...,2579,2594,2603,2624,2634,2653,2668,2682,2707,2713